h1{
  font: bold 2rem "Oswald",sans-serif;
}

h2 {
  font: bold 1.4rem "Oswald",sans-serif;
}

h3 {
  font: bold 1.2rem "Oswald",sans-serif;
}

h4 {
  font: italic 1.2rem "Source Sans Pro",sans-serif;
}

.App {
  font: 1.2rem "Source Sans Pro",sans-serif;
}

.head_content {
  background-color: #FFFFFF;
}

.main_content {
  background-color: #FFFFFF;
}

.side_content {
  background-color: #F4F4F4;
}

@media (min-width: 640px) {
  .App {
    display: grid;
    width: 100%;
    height: auto;
    grid-template: 
    "header header"
    "main_content side_content" / 75% auto;
  }

  .head_content {
    grid-area: header;
  }

  .main_content {
    grid-area: main_content;
  }

  .side_content {
    grid-area: side_content;
  }
}